@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap');

body {
	font-family: 'Open+Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	background: #f1f1f1;
	color: #0f141e;

	/* padding: 15px 20px;  */
}

.container {
	max-width: 750px;
	margin: auto;
	padding-top: 30px;
}

.card {
	margin-bottom: 10px;
	border-radius: 10px;
	padding-left: 5px;
	padding: 15px 20px;
}

.form-row {
	margin-bottom: 10px;
	display: flex;
}

.form-row .form-group {
	margin-right: 20px;
	width: 50%;
}

.form-group label {
	/* display: block; */
	font-size: 14px;
	color: #545a65;
}

.form-row .form-group:last-child {
	margin-right: 0;
}

.form-group input,
.form-group textarea {
	width: 100%;
	box-sizing: border-box;
	border: none;
	background: transparent;
	border-bottom: 1px solid #ccc;
	color: #000;
	padding: 15px 0 10px;
	outline: none;
	font-family: inherit;
}

.avatar {
	width: 200px;
	height: 220px;
	margin-top: 50px;
	margin-left: 20px;
	border-radius: 28px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info {
	margin-bottom: 20px;
	display: flex;
	margin-bottom: 10px;
	margin-top: 82px;
}

.info-text {
	background: rgb(211, 245, 255);
	border-radius: 10px;
}

.bg-1 {
	background: rgb(192, 255, 217);
}

.bg-2 {
	background: rgb(192, 251, 255);
}

.bg-3 {
	background: rgb(250, 250, 222);
}

.bg-4 h1 {
	margin-top: 0;
	margin-left: 8px;
	margin-right: 8px;
	border-top: 10px;
	border-radius: 10px;
	padding: 15px 20px;
	text-align: center;
	background: rgb(250, 250, 222);
}

.info-icon {
	border-left: 3px solid blue;
	background: rgb(227, 220, 252);
	
	/* border: #0f141e; */
}

.info-icon > a{
	margin: 0 10px;
	text-decoration: none;
}

.header1 {
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	z-index: 2;
}

.header1 h1{
	padding-left: 15px;
}

.btn {
	background: #111;
	padding: 15px 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-family: inherit;
	margin-top: 10px;
}

.btn:hover {
	opacity: .9;
	color: orange;
}

.list {
	padding: 0 15px;
}

.list li {
	color: #65676a;
	margin-bottom: 7px;
}

.work {
	width: 300px;
}

.work td {
	padding-bottom: 10px;
}

.work td:nth-child(2),
.work td:nth-child(3) {
	color: #545a65;
}


@media (max-width: 650px) {
	.info {
		display: block;
		text-align: center;
	}
	.card p {
		text-align: left;
	}
}

@media (max-width: 578px) {
	.header1 h1 {
		font-size: 20px;
	}
	.info {
		margin-top: 73px;
	}
}

@media (max-width: 424px) {
	.header1 h1 {
		font-size: 20px;
	}
	.info {
		margin-top: 95px;
	}
}

@media (max-width: 650px) {
	.form-row .form-group {
		width: 100%;
		margin-right: 0px;
		margin-bottom: 10px;
	}
}

@media (max-width: 650px) {
	.card {
		display: block;
		text-align: center;
	}
}

@media (max-width: 650px) {
	.from-row {
		display: block;
	}
}
